*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --s: 7px;
    --square-pattern: repeating-linear-gradient(
        90deg,
        #faefe6 0,
        #faf3ed 50%,
        #fff 50%,
        #fff 100%
      ),
      repeating-linear-gradient(0deg, #ff0000 0, #ff0000 50%, #fff 50%, #fff 100%);
    --tree-pattern: repeating-conic-gradient(
      from 45deg,
      #006400 0 25%,
      #32cd32 0 50%
    );

    background: var(--square-pattern), var(--tree-pattern);
    background-size:
      calc(2 * var(--s)) calc(2 * var(--s)),
      calc(4 * var(--s)) calc(4 * var(--s));
    background-position:
      0 0,
      center;
    
    color: var(--text-color);
    color: var(--text-color);
}


/* MAIN DISPLAY */

.navbar{
    display: flex;
    background-color: rgb(255, 255, 255) !important;
    padding: 2px;
}
.navbar h1 {
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif !important;
    margin-top: 10px;
    font-weight: 400;
    font-style: normal;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 1900px;
}
.navbar .nav-content{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 80px;
    padding: 5px;
    margin-bottom: 13px;
    gap: 80px;
    font-family: var(--secondary-font);
    font-size: 20px;
}
.signout-button {
    /* border: 1px solid black; */
    margin-left: 100px;
    display: flex;
}
.signout-button button{
    display: flex;
    gap: 10px;
}
.signout-button button a{
    text-decoration: none;
    color: black;
}

.signout-button button a:hover{
    color: white;
}

.signout-button button:hover{
    color: white;
}
.nav-content i,p{
    font-weight: 100px;
    /* border: 1px solid black ; */
}
.signup-button {
    /* border: 1px solid black; */
    margin-left: 60px;
    display: flex;
}
.signup-button button{
    display: flex;
    gap: 10px;
}
.nav-content i,p{
    font-weight: 100px;
    /* border: 1px solid black ; */
}
.nav-content button{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    font-family: "Poppins", serif;
    background-color: #fff;
    border: none;
    font-weight: 900px;
    border-radius: 45px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
      background-color: #000000;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
      color: #fff;
      transform: translateY(-7px);
    }
  button:active {
      transform: translateY(-1px);
    }

.main-display{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: "Poppins", sans-serif !important;
    margin-left: -100px;
}

.heading-part1{
    font-weight: 340;
    margin-right: -90px;
    margin-left: 20px;
}

.heading-part2{
    font-weight: 340;
    margin-left: -90px;
}

/* FOOTER */

.footer {
    padding: 30px;
    background-color: white;
    text-align: left;
}

.phone-number {
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 100;
}

.copyright {
    margin-top: -19px;
    text-align: right;
    font-weight: 100;
    font-size: 16px;
}